/* You can add global styles to this file, and also import other style files */
/* Estilos generales */
/* Importación de las fuentes */
@font-face {
    font-family: titulos;
    src: url("./assets/resources/fonts/ConnectionBold.otf");
}

@font-face {
    font-family: texto;
    src: url("./assets/resources/fonts/Connection.otf");
}

/* Estilo al body */

* {
  outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: rgb(255, 242, 195);
    font-family: texto;
    overflow-x: hidden;
}

/* Estilo al contenedor en el que están los componentes principales */
.contenedor-principal {
    margin: 0;
    padding: 0;
}

.menu-principal {
  margin: 0;
}

/* Tamaños y tipo de fuente para los títulos */
h1, h2, h3, h4, h5, h6 {
    font-size: 2.4em;
    font-family: titulos;
}

/* Estilos para los diferentes botones */
.boton {
    width: 200px;
    height: 50px;
    background-color: blue;
    border-radius: 7px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.4s;
    border: none;
}

.boton-verde {
    background-color: green;
}

.boton-verde:hover {
    background-color: rgb(1, 194, 1) !important;
}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(43, 170, 255);
    color: black;
}
